* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 10vh;
    overflow-x: auto;

}
#responsive-mobile {
    width: 100%;
    height: 100vh;
}
#responsive-mobile ion-icon {
    font-size: 20px;
}
#responsive-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-responsive-avatar {
    width: 10%;
}
.nav-menu-search {
    width: 85%;
    position: relative;
}
.nav-menu-search .nav-menu-icon {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    transform: translate(-50%,-50%);
    top:45% ;
    left: 50%;
    border-radius: 50px;
    height: 100%;
}
#responsive-menu {
    width: 100%;
    display: flex;
    padding: 10px 20px;
}
.nav-responsive-avatar img {
    width: 100%;
    border-radius: 50%;
}
#responsive-menu input {
    width: 100%;
    color: #fff;
    height: 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-indent: 40px;
    background-color: #e2e2e2;
}
.nav-responsive-noti {
    position: relative;
}
.nav-responsive-noti span {
    width: 7px;
    height: 7px;
    background-color: red;
    position: absolute;
    top: 0;
    border-radius: 50%;
    right: 2px;
}