* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 10vh;
    overflow-x: auto;
    width: 100%;
    height: 100vh;
}
#responsive-mobile ion-icon {
    font-size: 20px;
}
#responsive-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-responsive-avatar {
    width: 10%;
}
.nav-menu-search {
    width: 85%;
    position: relative;
}
.nav-menu-search .nav-menu-icon {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    transform: translate(-50%,-50%);
    top:45% ;
    left: 50%;
    border-radius: 50px;
    height: 100%;
}
#responsive-menu {
    width: 100%;
    display: flex;
    padding: 10px 20px;
}
.nav-responsive-avatar img {
    width: 100%;
    border-radius: 50%;
}
#responsive-menu input {
    width: 100%;
    color: #fff;
    height: 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-indent: 40px;
    background-color: #e2e2e2;
}
.nav-responsive-noti {
    position: relative;
}
.nav-responsive-noti span {
    width: 7px;
    height: 7px;
    background-color: red;
    position: absolute;
    top: 0;
    border-radius: 50%;
    right: 2px;
}
#responsive-mobile {
    width: 100%;
    height: 100vh;
}
#responsive-personal {
    width: 90%;
    margin: 0px auto;
}
.responsive-personal-libarys {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 5%;
    overflow-x:scroll ;
    scroll-snap-type: x mandatory;
    padding: 10px 10px;
}
.item-libary {
    width: 44%;
    padding: 10px;
    border-radius: 15px;
    flex-shrink: 0;
    box-shadow: 0.1px 0.1px 3px 0.5px #aaa;
}
.responsive-personal-libarys::-webkit-scrollbar,.explore-recents-list::-webkit-scrollbar {
    display: none; /* cho Chrome, Safari, and Opera */
}
.item-libary ion-icon {
    padding-bottom: 10px;
    font-size: 25px !important;
}
.item-libary .libarys-title  {
    width: 100%;
    font-weight: 600;
    margin-bottom: 15px;
}
#responsive-personal h2 {
    padding: 15px 0px;
    display: flex;
    align-items: center;
}
.recponsive-recents {
    width: 100%;
    overflow: hidden;
    overflow-x:scroll ;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 5%;
}
.recponsive-recents .recent-item {
    width:25% ;
    flex-shrink: 0;
}
.recponsive-recents .recent-item img {
    width: 100%;
    border-radius: 7px;
}
.recponsive-recents .recent-item .recent-item-action {
    display: none;
}
.recponsive-recents .recent-item h3 {
    font-size: 12px !important;
    font-weight: 300;
}
.recent-seeall {
    width:25% ;
    text-align: center;
}
.recent-seeall .seeall {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
#responsive-menu-down {
    width: 100%;
    bottom: 0;
    background-color: #e8dfdf;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    height: 50px;
}
#responsive-menu-down ul {
    width: 90%;
    margin: 0px auto;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
}
#responsive-menu-down ul li {
    text-align: center;
}
#responsive-menu-down ul li ion-icon {
    display: block;
    margin: 0px auto;
    margin-bottom: 4px;
}
.responsive-item.active {
    color: #3560F5;
}
#responsive-explore {
    width: 90%;
    margin: 0px auto;
}
.responsive-slide-explore {
    display: flex;
    overflow-x:scroll ;
    scroll-snap-type: x mandatory;
    gap: 15px;
    transition: 0.25s;
    margin: 15px 0px;
}
.responsive-slide-explore::-webkit-scrollbar {
    display: none;
}
.responsive-slide-item {
    width: 90%;
    height: 150px;
    display: flex;
    padding: 10px;
    background-color: rgba(87, 87, 87, 0.607);
    color: #fff;
    position: relative;
    flex-shrink: 0;
    border-radius: 5px;
}
.responsive-slide-item ion-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.responsive-slide-item h4 {
    color: #fff;
    font-size: 14px;
}
.responsive-slide-item span {
    color: #dadada;
    font-size: 12px;
}
.responsive-slide-avatar{
    width: 75%;
    height: 100%;
}
.responsive-slide-item img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.responsive-slide-new {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.responsive-list-slide {
    width: 100%;
    display: flex;
    transition: 0.5s;
}
.responsive-list-slide .slide-item {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}
.responsive-list-slide .slide-item img {
    width: 100%;
    height: auto;
}
.responsive-list-action {
    display: flex;
    position: absolute;
    gap: 1px;
    transform: translate(-50%,-50%);
    top: 98%;
    left: 50%;
}
.responsive-list-action hr {
    width: 10px;
    height: 2px;
    background-color: #aaa;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.responsive-list-action .item.active {
    background-color: #fff;
    width: 15px;
}
#responsive-explore h2 {
    margin-bottom: 15px;
}
.responsive-content {
    display: none;
    transition: 0.5s;
    padding-bottom: 60px;
}
.responsive-content.active {
    display: block;
}
.container-songstitle.responsive {
    margin-bottom: 10px;
}
.container-songstitle.responsive hr:first-child {
    background-color: #dedbdb;
}
.container-songstitle.responsive hr {
    height: 2px;
    border: none;
    outline: none;
}
.youwanthear-responsive {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.youwanthear-responsive::-webkit-scrollbar {
    display: none;
}
.youwanthear-responsive .youwanthear-item{
    width: 25% !important;
    flex-shrink: 0;
}
.youwanthear-responsive .youwanthear-item h3 {
    font-size: 12px !important;
    font-weight: 300;
}
.explore-list-company.responsive li {
    width: 30%;
    margin: 0px auto;
    margin-top: 20px;
}
.explore-event-list.responsive {
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.explore-event-list.responsive::-webkit-scrollbar {
    display: none;
}
.explore-event-list.responsive .event-item {
    flex-shrink: 0;
    width: 48%;
}
.explore-event-list.responsive .event-item .event-item-title{
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
}
.explore-event-list.responsive .event-item .event-item-title h3 {
    font-size: 13px;
}
.explore-event-list.responsive .event-item .event-congratulations span {
    background-color: transparent;
    padding: 0;
}
.explore-event-list.responsive .event-item .event-congratulations span ion-icon {
    background-color: transparent;
    font-size: 27px !important;
    padding: 3px;
}
.explore-event-list.responsive .event-congratulations ul li {
    width: 10px;
}
.event-view-congratulations ul li:last-child {
    width: 14px !important;
    padding: 0px 5px;
    transform: translateY(-3px);
}
#responsive-zingchart {
    margin: 0px auto;
}
#responsive-zingchart h1{
    width: 90%;
    padding: 10px 0px ;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
#responsive-zingchart h1 ion-icon {
    font-size: 30px;
    color: #3560F5;
}
.zingchart-recommend,.zingchart-item {
    width: 90%;
    height: 90px;
    display: flex;
    margin: 0px auto;
    padding: 20px 0px;
}
.responsive-content .zingchart-stt {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3560F5;
}
.responsive-content .zingchart-stt p{
    width: 100%;
}
.responsive-content .zingchart-song {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.responsive-content .zingchart-action {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.responsive-content .zingchart-title {
    line-height: 1.3;
    flex-grow: 1;
}
.responsive-content .zingchart-title h3 {
    font-size: 14px;
}
.responsive-content .zingchart-title span {
    font-size: 12px;
    color: #aaa;
}
.responsive-content .zingchart-ava {
    width: 50px;
    height: 50px;
}
.responsive-content .zingchart-ava  img {
    width: 100%;
    height: 100%;
}
.zingchart-list-songs .zingchart-stt p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.responsive-content hr {
    width: 100%;
    position: absolute;
    color: #ddd6d6;
}
.responsive-listsong-tym {
    margin: 0px auto;
}
.responsive-listsong-tym .listsong-tym-item{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid #dadada;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-title {
    width: 60%;
    flex-grow: 1;
    line-height: 1.5;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-title h3 {
    font-size: 14px;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-title p {
    font-size: 12px;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-avatar {
    width: 14%;
    overflow: hidden;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-avatar img {
    width: 100%;
    height: 100%;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-action {
    display: flex;
    align-items: center;
    gap: 10px;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-action ion-icon {
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-action ion-icon:hover {
    background-color: #aaaaaa53;
}
.responsive-listsong-tym .listsong-tym-item .listsong-tym-action ion-icon:first-child {
    color: #3560F5;
}
.responsive-listsong-tym span {
    display: grid;
    place-items: center;
    padding: 10px 20px;
    background-color: #3560F5;
    color: #fff;
    border-radius: 50px;
}
#responsive-zingchart .heart {
    transition: 0.5s;
    padding: 10px;
}
#responsive-personal .Category-tags {
    width: 100% !important;
    width: 20%;
    display: flex;
    padding: 10px 0px;
    font-size: 12px;
    gap: 15px;
    margin: 0px auto;
}
#responsive-personal .Category-tags .tag {
    margin-bottom: 20px;
    border: 1px solid black;
}
#responsive-personal .Category-tags .tag.active {
    border: 1px solid transparent;
    color: #fff;
}
#songs-responsive .tag-content {
    display: none;
}
#songs-responsive .tag-content.active {
    display: block;
}
#responsive-personal .text{
    text-align: center;
    margin-top: 20px;
}
#responsive-personal .content {
    display: none;
}
#responsive-personal .content.active {
    display: block;
}
#responsive-playsong {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fff;
    padding: 10px 0px;
    z-index: 10;
    bottom: -100%;
    transition: 0.5s;
}
#responsive-playsong .playsong-infor {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}
#responsive-playsong .playsong-infor h3 {
    font-size: 14px;
}
#responsive-playsong .playsong-infor p {
    font-size: 12px;
    color: #aaa;
}
#responsive-playsong .playsong-infor .avatar {
    width: 15%;
    display: grid;
    place-items: center;
}
#responsive-playsong .playsong-infor img {
    width: 100%;
    border-radius: 50%;
}
#responsive-playsong .playsong-action {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
    font-size: 20px;
}
#responsive-playsong hr {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #3560F5;
}
#responsive-playsong .pause-play {
    width: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#responsive-playsong .pause-play ion-icon[name="play"] {
    position: absolute;
    left: 0;
}
#responsive-playsong .pause-play .tag-action {
    display: none;
}
#responsive-playsong .pause-play .tag-action.active {
    display: block;
}
.zingchart-action .hearts {
    width: 40px;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.zingchart-action .hearts .heart {
    position: absolute;
    display: none;
    color: #3560F5;
}
.zingchart-action .hearts .heart-outline {
    display: none;
}
.zingchart-action .hearts .item-heart.active {
    display: block;
}