* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
}
body {
    width: 100%;
    height: 100vh;
     display: flex; 
     overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overscroll-behavior: none;
    position: relative;
}
body>#Change-Background {
    width: 125%;
    height: 100vh;
    position: fixed;
    z-index: -8;
    background-color: #061D4F;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
body::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
li {
    list-style-type: none;
}
#list-menu1 {
    padding-bottom: 20px;
}
#list-menu1 li:hover h1,
#list-menu2 li:hover h1 {
    color: #fff;
}
#list-menu1 li,#list-menu2 li {
    border-left: 3px solid transparent;
}
#list-menu1 li h1,#list-menu2 li h1 {
    font-size: 13px;
    color: #dadada;
}
#list-menu1 .active,#list-menu2 .active  {
    border-left: 3px solid #3560F5;
    background-color: #9096af4e;
    color: #fff ;
}
#list-menu2 {
    margin: 10px 0px;
    height: 40%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#list-menu2::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
menu hr {
    width: 85%;
    color: #dadada;
    margin: 0px auto;
}
.menu1.item4 h1 {
    display: flex;
    align-items: center;
}
.menu1.item4 span {
    font-size:8px;
    background-color: #FF0A0A;
    padding: 5px;
    border-radius: 5px;
    margin-left: 30px;
}
menu {
    width: 15%;
    height: 100vh;
    font-size: 14px;
    background-color: hsla(0,0%,100%,0.05);
    position: fixed;
    z-index: 999;
}
menu .logo {
    width: 65%;
}
menu .logo-menu {
    width: 100%;
    height: 42px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://sona7ns.github.io/zingmp3.vn/assets/img/sidebar-icon/logo/logo-dark.svg");
    background-size: cover;
}
menu ul {
    width: 100%;
}
menu ul li {
    display: flex;
    align-items: center;
    padding: 7px 0px 7px 20px;
    cursor: pointer;
}
menu h1 {
    font-size: 14px;
    font-weight: bold;
}
menu ion-icon {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}
menu ul .menu2.item4 {
    margin-bottom: 35px;
}
menu ul .menu2.item5 {
    width: 90%;
    background-image: linear-gradient(117deg,#614DE5,#B567D9);
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 20px 10px;
    border-radius: 10px;
}
menu ul .menu2.item5 p {
    margin-bottom: 10px;
    color: #fff;
}
menu ul .menu2.item5 a {
    background-color: #FFDB00;
    padding: 5px 20px;
    border-radius: 100px;
}
.libary p,.libary h2 {
    color: #fff;
}
.libary li img {
    margin-right: 10px;
    font-weight: 300;
}
#menu-add {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 20px;
    cursor: pointer;
}
#content {
    width: 85%;
}
#content .content {
    display: none;
}
#content>.activecontent {
    display: block;
}
.content-nav{
    width: 85%;
    position: fixed;
    z-index: 990    ;
    right: 0;
    background-color: #061D4F;
}
.content-nav>div {
    display: flex;
    align-items: center; 
    color: #fff;
    padding: 20px 0px;
    z-index: 990;
    width: 95%;
    margin: 0px auto;
    right: 0;
}

#next-prev  {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 #next-prev ion-icon  {
    padding: 10px 10px;
    border-radius: 50%;
    color: rgba(225, 225, 225, 0.5);
    cursor: pointer;
}
#option li {
    width: 40px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: rgba(225, 225, 225, 0.05);
    cursor: pointer;
}
#option li img {
    width: 40px ;
    height: 40px;
    border-radius: 50px;
}
#input-search {
    width: 30%;
}
#container-content {
    width: 85%;
    background-color: black;
    transform: translateX(240px);
}
#input-search input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    position: relative;
    border-radius: 50px;
    background-color: rgba(225, 225, 225, 0.05);
    text-indent: 40px;
    color: #fff;
}
.content-nav ion-icon {
    font-size: 20px;
}
.content-nav #input-search ion-icon {
    font-size: 20px;
    position: absolute;
    z-index: 999;
    padding: 6px;
    transform: translate(5px,2px);
}
.content-nav #option {
    width:55%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.content-nav #option #list-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content-nav #option #downloadPC {
    gap: 10px;
    color: #4470e5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    background-color: rgba(225, 225, 225, 0.05);
    border-radius: 50px;
    font-weight: 600;
}

#libarys {
    width: 91%;
    margin: 0px auto;
    padding-top: 100px;
}
#libarys .list-libarys {
    /* width: 80%; */
    display: flex;
    align-items: center;
    color: #fff;
}
#libarys  .xemthem {
    display: inline-block;
    width: 15%;
    height: 173px;
}
#libarys  .xemthem .name p {
    color: #fff;
    text-align: center;
    margin-top: 25px;
}
#libarys  h1  {
    color: #fff;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#libarys  h1 ion-icon {
    width: 20px;
    height: 20px;
    background-color: #3056DC;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
}
#libarys .libary-item {
    width:21%;
    padding: 0px 10px;
}
#libarys .libary-item .container-libary {
    position: relative;
}
#libarys .libary-item .img-avatar { 
    width: 173px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
#libarys>.list {
    display: flex;
    gap:10px;
}
.xemthem ion-icon {
    color: #fff;
    font-size: 28px !important;
}
.xemthem:hover ion-icon,#libarys  .xemthem:hover .name p{
    color: #3b61c6;
}

.xemthem {
    cursor: pointer;
}
.xemthem .img-avatar {
    width: 100%;
    height: 173px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,0.1);
}

#libarys .libary-item .img-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
    cursor: pointer;
}
#libarys .libary-item .img-avatar img:hover {
    transform: scale(1.2);
}
#libarys .libary-item .shuffle {
    top: 70%;
    transform: translateX(140px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    color: black;
}
#libarys .libary-item .shuffle:hover {
    background-color: #dadada;
}
#libarys .list-libarys .name {
    color: #fff;
    text-align: center;
}
#playlist {
    width: 91%;
    margin: 0px auto;
}
#playlist h1 {
    color: #fff;
    margin: 50px 0px 20px 0px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
#playlist h1 ion-icon {
    padding: 5px;
    background-color: rgba(225, 225, 225, 0.05);
    border-radius: 50%;
    margin-left: 10px;
}
#playlist #list-playlist {
    display: flex;
    align-items: center;
    gap: 20px;
}
#playlist #list-playlist .playlist-item {
    width: 17%;
    color: #fff;
}
#playlist #list-playlist .playlist-item .container-playlist {
    position: relative;
    overflow: hidden;
    z-index: 11;
    cursor: pointer;
}
#playlist #list-playlist .playlist-item .container-playlist:hover .playlist-active ion-icon {
    font-size: 24px
}
#playlist #list-playlist .playlist-item .container-playlist:hover .playlist-active,
#playlist #list-playlist .playlist-item .container-playlist:hover .playlist-opacity{
    visibility: visible;
}
#playlist #list-playlist .playlist-item .container-playlist:hover .playlist-avatar img {
    transform: scale(1.1);
}
#playlist #list-playlist .playlist-item .container-playlist:hover .playlist-active .playlist-play:hover {
    color: #dadada;
}
#playlist #list-playlist .playlist-item .playlist-avatar {
    width: 100%;
    height: 100%;
    overflow: hidden;   
    border-radius: 10px;
}
#playlist #list-playlist .playlist-item .playlist-avatar img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.9s;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;   
}

#playlist #list-playlist .playlist-item .playlist-opacity {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    visibility: hidden;
    border-radius: 10px;

}
#playlist #list-playlist .playlist-item .playlist-name h2 {
    font-size: 14px;
    padding: 5px 0px;
    cursor: pointer;
    display: inline-block;
}
#playlist #list-playlist .playlist-item .playlist-name h2:hover {
    color: #3B61C6;

}
#playlist #list-playlist .playlist-item .playlist-name p {
    color: #aaa;
    font-size: 14px;
}
#playlist #list-playlist .playlist-item .playlist-active {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    position: absolute;
    top: 40%;
    left: 12%;
    z-index: 8;
    visibility: hidden;
}
#playlist #list-playlist .playlist-item .playlist-active .playlist-play {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#personal-contentcenter>div {
    width: 100%;
    margin: 50px 0px 50px 0px;
    color: #fff;
}
.container-songstitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 50px;
}
.container-songstitle nav {
    width: 91%;
}
#content hr,#playsong hr {
    border: none;
}
.Category-bar {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.Category-bar .Category-up {
    width: 100%;
    background-color:hsla(0,0%,100%,0.1);
    height: 1px;
    z-index: 1;
}
.Category-down {
    height: 2px;
    background-color: #3056DC;
    z-index: 2;
    position: absolute;
    left: 0 ;
    bottom: 0;
    width: 0;
    transition: all 0.2s ease;
    transform: translateX(0);
}
.container-songstitle .Category {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    gap: 20px;
    position: relative;

}
.container-songstitle .Category li {
    padding: 15px 0px;
    cursor: pointer;
    color: #dadada;
}
#container-songstitle .Category .Category-item.active {
    color: #fff;
} 
#songs .Category-tags {
    width: 91% !important;
    color: #fff;
    width: 20%;
    display: flex;
    padding-bottom: 20px;
    font-size: 12px;
    gap: 15px;
    margin: 0px auto;
}
.Category-tags .tag {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}
.Category-tags .tag.active {
    border: none;
    background-color: #3560F5;
}
#songs #songs-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#songs #songs-content .list-songs {
    width: 91%;
}
#songs  .song-title {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #627090;
    padding: 10px 0px;
}
#songs  .song-title .baihat {
    margin-left: 30px;
}
#songs #songs-content .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid hsla(0,0%,100%,0.1);
}
#songs #songs-content .song .time {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-right: 20px;
}
#songs #songs-content .song .time .mic {
    margin-right: 50px;
    visibility: hidden;
}
#songs #songs-content .song .time .horizontal {
    position: absolute;
    right: 5px;
    visibility: hidden;
}
 .heart {
    color: #3056DC;
}
#songs #songs-content .song p {
    font-size: 12px;
    color: #7A86A1;
}
#songs #songs-content .song .baihat {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}
#songs #songs-content .song:hover {
    background-color: rgba(225, 225, 225, 0.05);
    border-radius: 5px;
}
#songs #songs-content .song:hover .icon-hover p,
#songs #songs-content .song:hover  .time p {
    visibility: hidden;
}
#songs #songs-content .song:hover .baihat .icon-hover input,
#songs #songs-content .song:hover  .time .horizontal,
#songs #songs-content .song:hover .baihat .avatar-baihat .avatar-opacity,
#songs #songs-content .song:hover .baihat .avatar-baihat ion-icon,
#songs #songs-content .song:hover .time .mic
{
    visibility: visible;
}
#songs #songs-content .song .baihat .icon-hover {
    display: flex;
    position: relative; 
}
#songs #songs-content .song .baihat .icon-hover input {
    position: absolute;
    top: 5px;
    left: 5px;
    visibility: hidden;
}
#songs #songs-content .song .baihat .name-song .singer {
    margin-top: 5px;
    cursor: pointer;
}
#songs #songs-content .song .baihat .name-song .singer:hover {
    color: #3056DC;
    text-decoration:underline;
}
#songs #songs-content .song .baihat h2 {
    font-size: 14px;
}
#songs #songs-content .song .baihat p {
    font-size: 12px;
}
#songs #songs-content .song .baihat .avatar-baihat {
    height: 40px;
    display: flex;
    position: relative;
    cursor: pointer;
}
#songs #songs-content .song .baihat .avatar-baihat .avatar-opacity {
    width: 40px;
    height: 40px;
    background-color:black ;
    opacity: 0.2;
    position: absolute;
    visibility: hidden;

}
#songs #songs-content .song .baihat .avatar-baihat ion-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    visibility: hidden;
}
#songs #songs-content .song .baihat .avatar-baihat img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
#songs #songs-content .song .baihat .avatar-baihat .gif {
    width: 20px;
    height: 20px;
    background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif');
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 10px;
    visibility: hidden;
}
#podcast,#album,#mv {
    width: 85%;
    margin: 0px auto;
    color: #fff;
}
#podcast .Category-tags {
    width: 91%;
    color: #fff;
    display: flex;
    padding-bottom: 20px;
    font-size: 12px;
    gap: 15px;
    margin: 0px auto;
}
#podcast .podcast-content,
#album .podcast-content,
#mv .podcast-content{
    display: grid;
    place-items: center;
}
.podcast-content .icon {
    width: 120px;
    height: 120px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}
#podcast .podcast-content .icon img {
    width: 100%;
    height: auto;
}
.podcast-content .text {
    color: #aaa;
}
#mv .explorenow {
    padding: 5px 20px;
    margin-top: 20px;
    border: 1px solid #3560F5;
    border-radius: 50px;
    background-color: #3560F5;
}
#personal-contentcenter {
    padding-bottom: 50px;
}
#personal-contentcenter>div {
    display: none;
}
#personal-contentcenter .active {
    display: block;
}
#playsong {
    position: fixed;
    transition: 0.25s;
    bottom: -100%;
}
#playsong {
    width: 100%;
    background-color: #061641;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    z-index: 999;
}
#playsong .playsong-left {
    width: 35%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}
#playsong .playsong-left ion-icon {
    font-size: 18px;
}
#playsong .playsong-left img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
#playsong .playsong-left .playsong-name .name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#playsong .playsong-left .playsong-name .name h3 {
    font-size: 14px;
}
#playsong .playsong-left .playsong-name p {
    font-size: 12px;
    margin-top: 5px;
    color: #aaa;
}
.playsong-center {
    width: 40%;
}
.playsong-center .playsong-center-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    padding: 0px 10px 10px 10px;
}
.playsong-center-action>.active {
    color: #3758ab;
}
.playsong-center .playsong-center-action>span {
    cursor: pointer;
    padding: 7px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.playsong-center .playsong-center-action>span:hover {
    background-color: rgba(225, 225, 225, 0.05);    
}
.playsong-center .playsong-center-action .playsong-pause-play {
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#process {
    display: flex  ;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#process span {
    width: 30px;
    color: #aaa;
}
.progress {
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: opacity 0.2s;

  }
.playsong-center .process {
    position: relative;
    overflow: hidden;
    height: 5px;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}
.playsong-center .process:hover .process-down,
.playsong-center .process:hover .process-up  {
    height: 100%;
}
.playsong-center .process .process-down {
    width: 100%;
    height: 2px;
    background-color: #3056DC;
}
.playsong-center .process .process-up {
    width: 0px ;
    height: 2px;
    background-color: #fff;
    position: absolute;
}
#playsong .playsong-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
#playsong .playsong-right .display-song-recent {
    background-color: #443856;
    padding: 5px;
    border-radius: 5px;
}
#playsong .playsong-right ion-icon {
    cursor: pointer;
}
#playsong .playsong-right .playsong-right-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding:10px 20px;
    border-right: 1px solid #aaa;
}
#playsong .playsong-right .playsong-right-action .process-volume {
    height: 3px;
}
#playsong .playsong-right .playsong-right-action .change-volume {
    position: relative;
}
#playsong .playsong-right .playsong-right-action .change-volume .on-volume {
   position: absolute;
   left: 0;
   visibility: hidden;
}
#playsong .playsong-right .playsong-right-action .change-volume .off-volume {
    visibility:visible;
}
#playsong .playsong-right .playsong-right-action .change-volume {
    visibility: hidden;
}
#playsong .playsong-pause-play:hover .play ,
#playsong .playsong-pause-play:hover
{
    color:#3560F5 ;
}
#playsong .playsong-pause-play .pause {
    position: absolute  ;
    top: 10px;
    display: grid;
    place-items: center;
}
#playsong .playsong-pause-play .control {
    visibility: hidden ;
}
#playsong .playsong-pause-play  .active {
    visibility: visible;
}
#song-recent {
    background-color: #223c75;
    width: 330px;
    height: 100vh;
    z-index: 998;
    position: fixed;
    right: 0;
    font-size: 12px;
    color: #fff;
    transform: translateX(100%);
    transition: 0.25s;
}
#song-recent .recent-title {
    width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px   ;
}
#song-recent .recent-title ul {
    display: flex;
    align-items: center;
    background-color: #395083;
    padding: 3px;
    border-radius: 50px;
}
#song-recent .recent-title ul li {
    padding:7px 15px;
    border-radius: 50px;
    cursor: pointer;
}
#song-recent .recent-title ul .active {
    background-color: #7585A8;
}
#song-recent .recent-title  ion-icon {
    font-size: 18px;
    padding: 7px;
    background-color:#395083 ;
    border-radius: 50%;
    cursor: pointer;
}
#explore {
    width: 100%;
    padding: 100px 0px;
}
#explore .explore-slide img {
    width: 370px;
    display: block;
}
#explore .explore-slide {
    width: 91%;
    margin: 0px auto;
    position: relative;
}
#explore .explore-slide .list-gallery {
    width: 100%;
    height: 225px;
    overflow: hidden;
    position: relative;
}
#explore .explore-slide .list-gallery .gallery-item {
    position: absolute;
    left: 397px;
    transition: all 0.5s;
    padding: 10px;
}
#explore .explore-slide .list-gallery .gallery-item img {
    border-radius: 10px;
    z-index: 9;
}
.gallery-item.previous {
    transform: translateX(-100%);
    z-index: 997;
    opacity: 1;
}
.gallery-item.first {
    transform: translateX(-20%);
    z-index: 996;
    opacity: 0;
}
.gallery-item.add {
    transform: translateX(10%);
    z-index: 996;
    opacity: 0;

}
.gallery-item.last {
    transform: translateX(20%) ;
    z-index: 996;
    opacity: 0;
    
}
.gallery-item.next {
    transform: translateX(100%);
    z-index: 997;
    opacity: 1;

}
.gallery-item.select {
    transform: translateX(0);
    z-index: 998;
    opacity: 1;
}
.icon-next {
    right: 20px;
}
.icon-prev {
    left: 20px;
}
.explore-slide .icon-next,.explore-slide .icon-prev {
    visibility: hidden;
}
.icon-next:hover,.icon-prev:hover {
    visibility: visible !important;
}
.show {
    visibility: visible !important;
}
#explore .gallery-item-icon {
    font-size: 40px;
    color: #fff;
    padding: 10px;
    z-index: 999;
    position: absolute;
    top: 35%;
    padding: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.gallery-item-icon:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff60;
    display: block;
}
@media only screen and (max-width:500px) {
    menu,.content-nav,#playsong,#content,#song-recent {
        display: none;
    }
    #Change-Background {
        display: none;
    }
    #responsive-mobile {
        display: block;
    }
    #changeBackground {
        display: none;
    }
    #personal-contentcenter {
        display: block;
    }
    .container-songstitle {
        margin-top: 10px;
    }
    .container-songstitle .Category li {
        color: black;
    }
    .container-songstitle nav {
        width: 100%;
    }
}
@media only screen and (min-width:500px) {
    #responsive-mobile {
        display: none;
    }
}
#explore-recent {
    padding-top: 100px;
    width: 90%;
    margin: 0px auto;
    color: #fff;
}
#explore-recent .explore-recents-list {
    display: flex;
    gap: 31px;
}
#explore-recent .explore-recent-title,.explore-newdeloy-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
#explore-recent .recent-item {
    width: 12%;
}
#explore-recent .recent-item .recent-item-title h3 {
    font-size: 15px;
    cursor: pointer;
    font-weight: 200;
}
#explore-recent .recent-item .recent-item-title h3:hover,#explore-recent .explore-recent-title p:hover {
    color: #4A79F9;
}
#explore-recent .explore-recent-title p {
    font-size: 13px;
    color: #aaa;
    cursor: pointer;
}
#explore-recent .recent-item .recent-item-img {
    width: 100%;
    height: 145px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;

}
#explore-recent .recent-item .recent-item-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
}
#explore-recent .recent-item .recent-item-img:hover img {
    transform: scale(1.1);
}
#explore-recent .recent-item .recent-item-img:hover .recent-item-action {
    visibility: visible;
}
.item-img:hover img {
    transform: scale(1.1);
}
#explore-recent .recent-item .recent-item-img:hover .recent-item-shadow {
    visibility: visible;
}
#explore-recent .recent-item .recent-item-img .recent-item-action {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    z-index: 5;
    transition: 0.25s;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    visibility: hidden;
}
#explore-recent .recent-item .recent-item-img .recent-item-action ion-icon {
    padding: 5px;
    border-radius: 50%;
}
#explore-recent .recent-item .recent-item-img .recent-item-action ion-icon:hover {
    background-color: #ffffff60;
}
#explore-recent .recent-item-shadow  {
    top: 0;
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.47);
    position: absolute;
    visibility: hidden;
}
#explore-youwanthear {
    width: 90%;
    margin: 0px auto;
    color: #fff;
}
.explore-content-list {
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.explore-FavoriteArtist-list .item-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgb(217, 213, 206));
}
#explore-youwanthear .explore-youwanthear-list .youwanthear-item,
.powerMidWeek-item,.famousSinger-item,.onlyfan-item,.FavoriteArtist-item{
    width: 18%;
}
 .item-img img {
    width: 100%;
    transition: 0.75s;
    object-fit: cover;    
    display: block
}
.item-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;;
}
#explore-youwanthear .item-img:hover img {
    object-fit: cover;
    transform: scale(1.1);
    border-radius: 5px;

}
#explore-youwanthear .item-img:hover .item-action, 
#explore-youwanthear .item-img:hover .item-shadow{
    visibility: visible;
}
 .item-action {
    width: 100%;
    font-size: 30px;
    transform: translate(-50%,-50%);
    top: 50% ;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: absolute;
    z-index: 9;
    visibility: hidden;
}
 .item-action ion-icon {
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.item-action ion-icon:hover {
    background-color: #ffffff33;
    opacity: 0.8;
}
.item-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 0;
    visibility: hidden;
}
.item-title h3 {
    padding-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
}
.item-title .singers {
    padding-top: 5px;
}
.item-title span {
    padding-top: 5px;
    color: #989696;
    cursor: pointer;
    font-size: 14px;
}
.item-title h3:hover {
    color: #4A79F9;
    
}
.item-title span:hover {
    color: #4A79F9;
    text-decoration: underline;
}
.explore-content {
    width: 91%;
    margin: 0px auto;
    color: #fff;
    padding-top: 50px;
}
.explore-newdeloy-tags {
    width:100%;
    font-size: 13px;
}
.explore-newdeloy-tags  .list-tags {
    display: flex;
    align-items: center;
    gap: 20px;
}
.explore-newdeloy-tags  .list-tags li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    border: 1px solid #ffffff3e;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.25s;
}
.explore-newdeloy-tags  .list-tags li:hover {
    color: #ffffffb1;
}
.explore-newdeloy-tags  .list-tags .newdeloy-tag.active {
    border: 1px solid #3056DC;
    background-color: #3056DC;
}
.newdeloy-All,.newdeloy-Vietnam,.newdeloy-Nuocngoai {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.explore-newdeloy-item {
    width: calc(95%/3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.item-left-avatar {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
}
.item-left-avatar .play,
.item-left-avatar .gif,
.item-left-avatar .opacity {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    visibility: hidden;
}
.item-left-avatar .gif {
    width: 20px;
    height: 20px;
    background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif');
    background-size: cover;
    z-index: 9;
    display: block;
}
.item-left-avatar .play {
    z-index: 9;
}
.item-left-avatar .opacity {
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.393);
}
.explore-newdeloy-item ion-icon {
    font-size: 20px;
}
.explore-newdeloy-item img {
    width: 60px;
    height: auto;
}
.newdeloy-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.newdeloy-item-left .item-left-title h3 {
    font-size: 15px;
    font-weight: 300;
}
.newdeloy-item-left .item-left-title p {
    font-size: 13px;
    padding-top: 5px;
    color: #aaa;
}
.newdeloy-item-left ion-icon:hover {
    color: #ffffffcc;
}
.newdeloy-item-right ion-icon {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
}
.newdeloy-item-right ion-icon:hover {
    background-color: #ffffff58;
    visibility: visible;
}
.explore-newdeloy-item:hover {
    background-color: #ffffff1c;
}
.explore-newdeloy-item:hover .newdeloy-item-right ion-icon:hover {
    visibility: visible;
}
.explore-newdeloy-item:hover .item-left-avatar .play,
.explore-newdeloy-item:hover .item-left-avatar .opacity,
.explore-newdeloy-item:hover .newdeloy-item-right ion-icon{
    visibility: visible;
}
.explore-newdeloys.active {
    display: block;
}
.explore-newdeloys {
    display: none;
}
.item-img:hover .item-action, 
.item-img:hover .item-shadow{
    visibility: visible;
}
#explore-powerMidWeek .singers span:hover,#explore-famousSinger .singers span:hover {
    color: #989696  ;
    text-decoration: none;
}
.explore-title {
    font-size: 18px;
}
#explore-onlyfan .explore-title .explore-title-avtar img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
#explore-onlyfan .explore-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
#explore-onlyfan .explore-title p {
    font-size: 13px;
    color: #bebcbc;
}
#explore-onlyfan .explore-title h3 {
    font-size: 18px;
    font-weight: 600;
}
.FavoriteArtist-item .item-img {
    height: 285px;
    overflow: hidden;
}
.FavoriteArtist-item {
    position: relative;
    cursor: pointer;
}
.FavoriteArtist-down {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0px 16px;
    z-index: 9;
}
.FavoriteArtist-down img {
    width: calc(87%/3);
}
.FavoriteArtist-down .FavoriteArtist-listimgsong {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding-top: 10px;
}
.FavoriteArtist-listimgsong img {
    border-radius: 5px  ;
}
.FavoriteArtist-play {
    position: absolute;
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #fff;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: none;
    cursor: pointer;
    z-index: 9;
}
.FavoriteArtist-down h4 {
    font-weight: 800;
    font-size: 21px;
    line-height: 29px;
    white-space: nowrap;
}
.FavoriteArtist-play:hover {
    color: #ffffffc5;
    border: 1px solid #ffffffc5;
}
.FavoriteArtist-item:hover .FavoriteArtist-play {
    display: block;
} 
.FavoriteArtist-item:hover .item-shadow {
    visibility: visible;
}
.FavoriteArtist-item:hover .item-img img {
    transform: scale(1.1);
}
.radio-item {
    width: calc(100%/7);
    flex-shrink: 0;
    padding: 0px 14px;
}
.item-title {
    width: 100%;
}
.radio-item .item-title {
    text-align: center;
}
.item-img-avatar {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.radio-item .item-img {
    width: 100%;
    border-radius: 50%;
    overflow: visible;
}
.radio-item .item-img .item-shadow {
    border-radius: 50%;
}
.radio-item .item-img img {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-item .radio-live  {
    position: absolute;
    padding:5px 7px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    transform: translate(-50%,-50%);
    top: 100%;
    left: 50%;
    z-index: 9;
}
.item-img svg {
    width: 105%;
    height: 105%;
    top: -4px;
    left: -4px;
    position: absolute;
    transform: rotate(-90deg);
}
.radio-item .item-title {
    padding-top: 10px;
}
.radio-item .item-title h3 {
    padding-top: 5px;
    cursor: default;
}
.radio-item .item-title h3:hover {
    color: #fff;
}
.radio-item .item-title span {
    text-decoration: none;
    padding-top: 5px;
}
.radio-item .item-title span:hover {
    color:#989696 ;
    cursor: default;
}
.circle {
    fill:none;
    stroke: red;
    stroke-width: 2px;
}
.radio-item .item-img-con {
    width: 52px;
    height: 52px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 85%;
    left: 85%;
    cursor: default;
    z-index: 9;
}
.radio-item .item-img-con img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.item-img-avatar:hover>img {
    transform: scale(1.1);
}
.item-img:hover .item-img-con img {
    transform: none; 
}
.explore-radio-list {
    padding: 10px 0px ;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.explore-radio-list .radio-list {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    transition: 0.25s;
}
#explore-radio {
    position: relative;
}
#explore-radio .radio-icon {
    font-size: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    color: black;
    border-radius: 50%; 
    background-color: #fff;
    z-index: 999;
    transform: translate(-50%,-50%);
    top: 50%;
    visibility: hidden;
}
#explore-radio .radio-icon:hover {
    background-color: #f2eeeed3;
}
#explore-radio .radio-icon.active {
    visibility: visible;
}
#explore-radio .radio-prev {
    left: 2%;
}
#explore-radio .radio-next {
    right: -2%;
}
#explore-zingchart #zingchart-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#explore-zingchart #zingchart-banner .banner-item {
    width: calc(95%/3);
    height: 108px;
    overflow: hidden;
    border-radius: 5px;
}
#explore-zingchart #zingchart-banner .banner-item img {
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
#explore-zingchart #zingchart-banner .banner-item:hover img {
    transform: scale(1.05);
}
.explore-newsongs-list {
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
}
.newsongs-item {
    width: 32%;
    background-color: #ffffff33;
    display: flex;
    align-items: center;
    padding: 10px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
}
.newsongs-list {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 100%;
    transition: 0.5s;
    /* transform: translateX(0); */
}
.explore-newsongs-list .item-last {
    background-color: #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A79F0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.newsongs-item .item-img {
    width: 53%;
}
.newsongs-item  img {
    width: 100%;
    border-radius: 5px;
    padding: 0;
}
.newsongs-item  .item-title {    
    height: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.newsongs-item .item-title h3 {
    padding: 0;
}
.newsongs-item .item-title h3:hover {
    color:#fff;
}
.newsongs-item .item-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
}
.newsongs-item .item-day .item-top {
    font-size: 40px;
    color: #00000000;
    font-family: "Roboto",sans-serif;
    -webkit-text-stroke :1px #fff;
}
#explore-event{
    overflow: hidden;
}
#explore-event .explore-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#explore-event .explore-title .icon {
    padding: 10px;
    font-size: 24px;
    color: #cdcaca4b;
}
#explore-event .explore-title .icon.active {
    color: #fff;
    cursor: pointer;
}
#explore-event .explore-title .icon.active:hover {
    color: #ffffff9f;
}
.explore-event-list {
    gap: 0;
    transition: 0.5s;
}
#explore-event .event-item {
    width: calc(96%/3);
    flex-shrink: 0;
    margin-right: 2%;
}
#explore-event .event-item .item-img {
    width: 100%;
    height: 221px;
}
#explore-event .event-item .item-img img {
    object-fit: cover;
}
.event-congratulations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-congratulations ul {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.event-congratulations ul li {
    width: 14px;
}
.event-congratulations ul li:last-child {
    color: #aaa;
}
.event-congratulations ul li img {
    width: 17px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ffffff4d;
}
.event-view-congratulations {
    line-height: 1.8;
}
.event-congratulations>span {
    padding: 10px 20px;
    background-color: #3056DC;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 50px;
}
.event-congratulations>span:hover {
    cursor: pointer;
    color: #ffffffa4;
}
.event-item-title {
    bottom: 13px;
    left: 10px;
    position: absolute;
    line-height: 1.5;
    z-index: 9;
}
.event-item-title .tag {
    color: red;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 9px;
    text-transform: uppercase;
}
.event-item-title h3 {
    font-size: 16px;
}
.event-item-opacity {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,transparent 27%,rgba(0,0,0,.78));
}
.explore-list-company {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.explore-list-company li {
    width:calc(88%/8);
    margin-right: calc(10%/7);
    background-color: #fff;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
    margin-top: 20px;
}
.explore-list-company li img {
    max-width: 83%;
    max-height: 80%;
    width: auto;
}
#explore-end h4{
text-align: center;
color: #aaa;
padding-bottom: 0;
}
#changeBackground {
    width: 60%;
    height:80%;
    position: fixed;
    background-color: #ffffff4a;
    z-index: 999;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    color: #fff;
    background-color: #2e3e60;
    display: none;
}
#changeBackground .interface {
    width: 97%;
    margin: 0px auto;
    padding: 20px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#changeBackground .interface ion-icon {
    font-size: 30px;
    cursor: pointer;
}
.changeBackground-type {
    width:97% ;
    margin: 0px auto;
    padding: 20px;
}
.types-interface {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.types-interface .type-interface-item {
    width: 15%;
    font-size: 12px;
    cursor: pointer;
    padding-top: 10px;
}
.type-interface-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.interface-item-up {
    position: relative;
}
.interface-image {
    width: 100%;
}
.interface-image-change {
    width: 70%;
    font-size: 8px;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    line-height: 2;
    position: absolute;
    visibility: hidden;
    z-index: 9;
}
.interface-image-change .active {
    background-color: #7D3EB6;
    border: 1px solid #7D3EB6;
}
.interface-image-change p {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 3px 0px;
    border: 1px solid #ffffff50;
}
.interface-image-opacity {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.264);
    visibility: hidden;
}
.type-interface-item:hover .interface-image-opacity,
.type-interface-item:hover .interface-image-change {
    visibility: visible;
}
.singerInterface {
    display: flex;
    flex-wrap: wrap;
}